@import url(root/custom-props.css);

/*
    Current Code    
---------------------------------*/
.bdr-gray {
    border: 1px solid #999;
}

.grassy {
    background: var(--grassy);
}

.plum {
    background: var(--plum);
}

.dark {
    background: var(--dark);
}

.txt-light {
    color: #eee;
}

.txt-left {
    text-align: left;
}

.txt-right {
    text-align: right;
}

.txt-center {
    text-align: center;
}

.txt-justify {
    text-align: justify;
}

.txt-start {
    text-align: start;
}

.txt-end {
    text-align: end;
}

.txt-all {
    text-align: justify-all;
}

.txt-match {
    text-align: match-parent;
}

.gap {
    margin: var(--gap);
}

.inner {
    padding: var(--inner);
}

.outer {
    margin: var(--outer);
}

.box {
    display: var(--d-flx);
    flex-wrap: var(--flx-wrap);
    height: var(--full, 1000px);
    background: var(--gray-light);
    padding: var(--inner);
}

.html {
    color: var(--html);
    text-shadow: -1px -1px 0 var(--light);
}

.strap {
    color: var(--strap);
    text-shadow: -1px -1px 0 var(--light);
}
