@import url(root/custom-props.css);

/*
    Current Code    
---------------------------------*/
.bdr-gray {
    border: 1px solid #999;
}

.grassy {
    background: var(--grassy);
}

.plum {
    background: var(--plum);
}
.dark {
    background: var(--dark);
}
.txt-light {
    color: #eee;
}
.txt-left {
    text-align: left;
}

.txt-right {
    text-align: right;
}

.txt-center {
    text-align: center;
}

.txt-justify {
    text-align: justify;
}

.txt-start {
    text-align: start;
}

.txt-end {
    text-align: end;
}

.txt-all {
    text-align: justify-all;
}

.txt-match {
    text-align: match-parent;
}