@import url(custom.css);

:root {
    --row-display: block;
    --col-basis: 100%;
    --col-offset: 1;
}

* {
    box-sizing: border-box;
}

html {
    font-family: "Muli", sans-serif;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-size: 1.2rem;
    margin-bottom: 250px;
}

body {
    margin: 0;
    padding: 0;
}
.device-width {
    width: var(--device-width);
}
.page-width {
    width: var(--full-width);
}
h1,
h2 {
    text-align: center;
}

a {
    color: var(--blue);

}

a:hover {
    color: var(--teal);
    text-decoration: none;
}

/*==================================
    Flexbox module Start
------------------------------------
    justify-content - X (parent)
----------------------------------*/
.justify-start {
    display: var(--d-flx);
    justify-content: flex-start;
}

.justify-end {
    display: var(--d-flx);
    justify-content: flex-end;
}

.justify-center {
    display: var(--d-flx);
    justify-content: center;
}

.justify-between {
    display: var(--d-flx);
    justify-content: space-between;
}

.justify-around {
    display: var(--d-flx);
    justify-content: space-around;
}

.justify-evenly {
    display: var(--d-flx);
    justify-content: space-evenly;
}

/*
    align-items - Y (parent)
---------------------------------*/
.items-start {
    display: var(--d-flx);
    align-items: flex-start;
}

.items-center {
    display: var(--d-flx);
    align-items: center;
}

.items-end {
    display: var(--d-flx);
    align-items: flex-end;
}

.items-expand {
    display: var(--d-flx);
    align-items: stretch;
}

.items-base {
    display: var(--d-flx);
    align-items: baseline;
}

/*
    align-content - Y 
---------------------------------*/
.align-start {
    display: var(--d-flx);
    align-content: flex-start;
}

.align-center {
    display: var(--d-flx);
    align-content: center;
}

.align-end {
    display: var(--d-flx);
    align-content: flex-end;
}

.align-around {
    display: var(--d-flx);
    align-content: space-around;
}

.align-between {
    display: var(--d-flx);
    align-content: space-between;
}

.align-expand {
    display: var(--d-flx);
    align-content: stretch;
}

/*
    align-self - Y (both)
---------------------------------*/
.self-auto {
    display: var(--d-flx);
    align-self: auto;
}

.self-start {
    display: var(--d-flx);
    align-self: flex-start;
}

.self-center {
    display: var(--d-flx);
    align-self: center;
}

.self-end {
    display: var(--d-flx);
    align-self: flex-end;
}

/*
    Order
---------------------------------*/

/*
    Flexbox module End
=================================*/
.copy a {
    color: var(--txt-primary);
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col {
    padding: 15px;
    margin: 5px 0;
}


@media screen and (min-width: 922px) {
    :root {
        --row-display: flex;
    }
}

.col-1 {
    --col-basis: 8.33%;
}

.col-2 {
    --col-basis: 16.66%;
}

.col-3 {
    --col-basis: 25%;
}

.col-4 {
    --col-basis: 33.33%;
}

.col-5 {
    --col-basis: 41.66%;
}

.col-6 {
    --col-basis: 50%;
}

.col-7 {
    --col-basis: 58.33%;
}

.col-8 {
    --col-basis: 66.66%;
}

.col-9 {
    --col-basis: 75%;
}

.col-10 {
    --col-basis: 83.33%;
}

.col-11 {
    --col-basis: 91.66%;
}

.col-12 {
    --col-basis: 100%;
}

.col-1-push {
    --col-offset: 8.33%;
    margin-left: var(--col-offset);
}

.col-2-push {
    --col-offset: 16.66%;
    margin-left: var(--col-offset);
}

.col-3-push {
    --col-offset: 25%;
    margin-left: var(--col-offset);
}

.col-4-push {
    --col-offset: 33.33%;
    margin-left: var(--col-offset);
}

.col-5-push {
    --col-offset: 41.66%;
    margin-left: var(--col-offset);
}

.col-6-push {
    --col-offset: 50%;
    margin-left: var(--col-offset);
}

.col-7-push {
    --col-offset: 58.33%;
    margin-left: var(--col-offset);
}

.col-8-push {
    --col-offset: 66.66%;
    margin-left: var(--col-offset);
}

.col-9-push {
    --col-offset: 75%;
    margin-left: var(--col-offset);
}

.col-10-push {
    --col-offset: 83.33%;
    margin-left: var(--col-offset);
}

.col-11-push {
    --col-offset: 91.66%;
    margin-left: var(--col-offset);
}

.col-12-push {
    --col-offset: 100%;
    margin-left: var(--col-offset);
}

/* Logic fold */
.row {
    display: var(--row-display);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    flex-wrap: nowrap;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: var(--col-basis);
}

.col {
    flex-basis: 100%;
}
